#booking{
    padding-top:  10%;
}
#bookingcard{
    box-shadow: 0px 0px 30px rgb(165, 198, 218);
    border: none;
    padding: 10px;
}
.bookingsec{
    /* box-shadow: 0px 0px 35px rgb(74, 112, 120); */
    background-color: aliceblue;
}