<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-dark p-4  navbar-custom fixed-top" style="background: rgb(132,164,163);
background: linear-gradient(109deg, rgba(132,164,163,1) 35%, rgba(32,166,213,1) 77%);">
  <div class="container px-5">
    <img src="https://i.postimg.cc/cLBwCcq7/6024190.png" alt="Logo" width="40" height="39" class="d-inline-block align-text-top me-2">
      <a class="navbar-brand text-light fw-bolder" href="#page-top"> 
         RENT A CAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link text-light border rounded p-2 me-2 mb-2" style="width: 120px;" routerLink="admin-add">Add car details</a></li>
              <li class="nav-item"><a class="nav-link text-light border rounded p-2 me-2 mb-2" style="width: 60px;" routerLink="admin">Home</a></li>
              <li class="nav-item"><a class="nav-link text-light border rounded p-2 me-2 mb-2" style="width: 69px;" routerLink="admin-bookings">Booking</a></li>
              <li class="nav-item"><a class="nav-link text-light border rounded p-2" style="width: 66px;" routerLink="">Logout</a></li>


          </ul>
      </div>
  </div>
</nav>
